# Introduction

This notebook is about using the GLasso algorithm

I will use the scikit learn version of it, with automated cross validation.

In [1]:
import pandas as pd
from sklearn.covariance import GraphLasso,GraphLassoCV,EmpiricalCovariance
import numpy as np
from numpy.linalg import inv
%matplotlib inline

In [2]:
df_mc=pd.read_csv("data/X_test.csv",header=None)

In [3]:
df_mc.head()

          0         1         2         3
0 -0.199058  0.155569 -0.067543  1.434591
1  0.309032 -0.046133 -1.785380  0.681475
2  0.097170 -0.376027  0.327607 -0.814160
3 -1.237077 -1.328336  1.955127 -1.544141
4  1.161363  1.067888  0.022330  0.603614

In [4]:
df_mc.describe()

                  0             1             2             3
count  1.000000e+03  1.000000e+03  1.000000e+03  1.000000e+03
mean  -1.643130e-17 -5.984102e-17  1.144917e-16  1.104672e-17
std    1.000500e+00  1.000500e+00  1.000500e+00  1.000500e+00
min   -2.991931e+00 -3.013649e+00 -3.469819e+00 -3.652721e+00
25%   -7.167359e-01 -7.111839e-01 -6.850007e-01 -6.896844e-01
50%    3.082600e-02 -4.174440e-03 -4.400892e-03 -1.310217e-02
75%    7.093195e-01  6.905593e-01  6.593350e-01  6.756227e-01
max    3.198116e+00  3.164379e+00  2.749569e+00  3.101828e+00

Now let's fit a cross validated graph lasso estimator

In [11]:
glasso=GraphLassoCV()
glasso.fit(df_mc)

GraphLassoCV(alphas=4, assume_centered=False, cv=None, enet_tol=0.0001,
       max_iter=100, mode='cd', n_jobs=1, n_refinements=4, tol=0.0001,
       verbose=False)

In [12]:
glasso.covariance_

array([[ 1.        ,  0.82703486, -0.441698  ,  0.38985575],
       [ 0.82703486,  1.        , -0.5340743 ,  0.47138974],
       [-0.441698  , -0.5340743 ,  1.        , -0.23098084],
       [ 0.38985575,  0.47138974, -0.23098084,  1.        ]])

In [13]:
glasso.score(df_mc)

-4.7938536946241177

Let's compare this to the empirical estimate

In [14]:
empir=EmpiricalCovariance()
empir.fit(df_mc)

EmpiricalCovariance(assume_centered=False, store_precision=True)

In [15]:
empir.covariance_

array([[ 1.        ,  0.82999523, -0.4436062 ,  0.38911997],
       [ 0.82999523,  1.        , -0.5370343 ,  0.47434828],
       [-0.4436062 , -0.5370343 ,  1.        , -0.22802231],
       [ 0.38911997,  0.47434828, -0.22802231,  1.        ]])

In [16]:
empir.score(df_mc)

-4.7936693172926006